html,
body {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

canvas {
  left: 0;
  position: absolute;
  top: 0;
}

#score {
  font-size: 32rem;
  left: 50%;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
